<a href="https://colab.research.google.com/github/golfn123/CE888Project/blob/main/seq2seq/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from keras.models import Model
from keras.layers import Input, LSTM, Dense

In [5]:
df = pd.read_json('https://raw.githubusercontent.com/golfn123/CE888Project/main/seq2seq/train_spider.json')
df.head

<bound method NDFrame.head of                       db_id  ...                                                sql
0     department_management  ...  {'from': {'table_units': [['table_unit', 1]], ...
1     department_management  ...  {'from': {'table_units': [['table_unit', 1]], ...
2     department_management  ...  {'from': {'table_units': [['table_unit', 0]], ...
3     department_management  ...  {'from': {'table_units': [['table_unit', 0]], ...
4     department_management  ...  {'from': {'table_units': [['table_unit', 0]], ...
...                     ...  ...                                                ...
6995        culture_company  ...  {'from': {'table_units': [['table_unit', 2], [...
6996        culture_company  ...  {'from': {'table_units': [['table_unit', 1], [...
6997        culture_company  ...  {'from': {'table_units': [['table_unit', 1], [...
6998        culture_company  ...  {'from': {'table_units': [['table_unit', 1], [...
6999        culture_company  ...  {'from': {'table_units': [['table_unit', 1], [...

[7000 rows x 7 columns]>

In [8]:
input = df['question']
input

0       How many heads of the departments are older th...
1       List the name, born state and age of the heads...
2       List the creation year, name and budget of eac...
3       What are the maximum and minimum budget of the...
4       What is the average number of employees of the...
                              ...
6995    What are all the company names that have a boo...
6996    Show the movie titles and book titles for all ...
6997    What are the titles of movies and books corres...
6998    Show all company names with a movie directed i...
6999    What are all company names that have a corresp...
Name: question, Length: 7000, dtype: object

In [9]:
output = df['sql']
output

0       {'from': {'table_units': [['table_unit', 1]], ...
1       {'from': {'table_units': [['table_unit', 1]], ...
2       {'from': {'table_units': [['table_unit', 0]], ...
3       {'from': {'table_units': [['table_unit', 0]], ...
4       {'from': {'table_units': [['table_unit', 0]], ...
                              ...
6995    {'from': {'table_units': [['table_unit', 2], [...
6996    {'from': {'table_units': [['table_unit', 1], [...
6997    {'from': {'table_units': [['table_unit', 1], [...
6998    {'from': {'table_units': [['table_unit', 1], [...
6999    {'from': {'table_units': [['table_unit', 1], [...
Name: sql, Length: 7000, dtype: object